/* general settings */
body {
  margin: 0px;
  padding: 0px;

  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;

  cursor: none;
}

#canvas {
  position: relative;
  height: 100vh;
  width: calc(calc(100vh / 9) * 16);

  overflow: hidden;
}

img {
  height: 100%;
}

object {
  position: absolute;
}

.hidden {
  /*    display: none;*/
  display: none;
  visibility: hidden;
}

/* static objects */

#inlets {
  position: absolute;
  top: 42.6vh;
  left: -6vh;
  height: 46.8%;
}

#inlet {
  position: absolute;
  top: -10vh;
  left: -14vh;
  height: 155%;

  transform: scaleX(-1);
}

#inlet-animated {
  top: -10vh;
  left: -14vh;
  height: 155%;

  transform: scaleX(-1);
}

#button {
  position: absolute;
  top: 18.3vh;
  left: 126vh;
  height: 7%;

  transform: scaleX(-1);
}

#button-animated {
  position: absolute;
  top: -10vh;
  right: 50vh;
  height: 155%;

  transform: scaleX(-1);
}

#token {
  position: absolute;
  top: 28.7vh;
  left: 135vh;
  height: 5%;

  transform: scaleX(-1);
}

#stairs-left {
  position: absolute;
  left: -1vh;
  top: 43.9vh;
  height: 31.9%;
}

#stairs-right {
  position: absolute;
  top: 44.5vh;
  left: 141.5vh;
  height: 32.55%;
}

#paying-machines {
  position: absolute;
  top: 34.8vh;
  left: 21.8vh;
  height: 55%;
}

#paying-machine {
  position: absolute;
  top: -10vh;
  left: 15vh;
  height: 142%;
}

#outlets {
  position: absolute;
  top: 49.9vh;
  left: 124.4vh;
  height: 54%;
}

#outlet {
  position: absolute;
  top: -10vh;
  left: -40vh;
  height: 155vh;

  transform: scaleX(-1);
}

#retry {
  position: absolute;
  top: 4vh;
  left: 127.5vh;
  height: 13%;
}

#more {
  position: absolute;
  top: 20vh;
  left: 119.2vh;
  height: 10%;
}

/* text bubbles */

#text-inlet {
  position: absolute;
  top: 5vh;
  left: 0vh;
  height: 40%;
}

#text-token {
  position: absolute;
  top: 12vh;
  left: 0vh;
  height: 25%;
}

#text-travel {
  z-index: 5;
  position: absolute;
  top: 5vh;
  left: 0vh;
  height: 25%;
}

#text-token-types {
  position: absolute;
  top: 15vh;
  left: 0vh;
  height: 35%;
}

#text-payment-machine {
  position: absolute;
  top: 0vh;
  left: 0vh;
}

/* animated objects */

#woman {
  display: inline;
  left: 39vh;
  top: 51vh;
  height: 50%;
  transition: transform 8s linear;
}

.enter {
  transform: translate(2%, -13%) scale(0.4);
}

#train {
  z-index: 5;
  display: inline;
  position: absolute;
  top: 20.5%;
  height: 80vh;
  left: 200vh;
  transition: transform 3s ease-in-out 1s;
}

.stop {
  visibility: visible;
  transform: translateX(-490vh);
}

.left {
  visibility: visible;
  transform: translateX(-740vh);
}

#train-inside {
  position: relative;
  height: 100%;
}

/* cursor objects */

#hand {
  pointer-events: none;
  z-index: 10;

  position: fixed;
  height: 9vh;
  transform: translate(-8vh, 1.5vh) rotate(-95deg);

  left: 0px;
  top: 0px;
}
