/* general settings */
body {
    margin: 0px;
    padding: 0px;

    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#canvas {
    height: 100vh;
    width: calc(calc(100vh / 9) * 16);
}

img {
    height: 100%;
}

object {
    position: absolute;
}

.hidden {
    display: none;
}

/* animated objects */

#woman {
    left: 50px;
    top: 50px;
}